$clr-title: hsl(0, 0%, 31%);
$clr-code: hsl(0, 0%, 20%);
$clr-create-by: hsl(0, 0%, 66%);

$clr-default-btn: hsl(0, 0%, 25%);
$clr-primary-btn: white;

$clr-disable-btn: hsla(0, 0%, 62%, 1);
$bg-disable-btn: hsla(0, 0%, 88%, 1);

$clr-blue-700: hsla(231, 99%, 62%, 1);
$clr-blue-100: hsla(224, 100%, 58%, 0.1);

$bg-default: #e0e0e0;
$bg-default-hover: hsl(0, 0%, 68%);

$bg-primary: hsla(224, 100%, 58%, 1);
$bg-primary-hover: hsla(223, 100%, 40%, 1);

$bg-secondary: #455a64;
$bg-secondary-hover: #1c313a;

$bg-danger: hsla(0, 65%, 51%, 1);
$bg-danger-hover: hsla(357, 100%, 30%, 1);
